# Google Analytics 4 Measurement ID
# Example: G-XXXXXXXXXX
NEXT_PUBLIC_MEASUREMENT_ID=

# GA4 Analytics Dashboard (server-side only)
GA4_PROPERTY_ID=
GA4_CLIENT_EMAIL=
GA4_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
