@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col-deepblue: #4478e3;
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  @apply text-yellow;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


/* Button */

.btn {
  @apply flex items-center p-2 bg-yellow rounded-md font-poppins   text-white uppercase text-sm	 px-4 hover:bg-dark_yellow tracking-widest;
}


.btn-2 {
  @apply flex items-center p-2 bg-dark_blue_black rounded-md font-poppins text-white tracking-widest px-4 uppercase text-sm  hover:bg-neutral-800;
}

/* Navigation */

.nav_list {
  @apply text-gray hover:text-dark_blue_black font-semibold text-sm relative block;
}
.nav_list.after::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #343a40;
}


/* Shadow */

.card_shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shadow-a {
  box-shadow: 50px 0px 30px 0px rgba(0, 0, 0, 0.233) inset, -50px 0px 30px 0px rgba(0, 0, 0, 0.233) inset;
}

/* Translate Nav */

.transleteNav {
  @apply -translate-y-full transition-transform;
}

.transleteNavUp {
  @apply  transform-none transition-transform;
}

.transitionMap {
  transition: background 0.3s ease-in;
}

.transitionMap {
  animation: translateMap 0.3s ease-in;
}

@keyframes translateMap {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

/* Footer Wawes */

.wave_svg {
  overflow:visible;
}

.wave {
  animation: wave 10s linear;
  animation-iteration-count:infinite;
  fill: #343a40;
}

.gooeff {
    filter: url(#goo);
}
#wave2 {
  animation-duration:15s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 20s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(25px); 
  }
  30% {
    transform: translateY(-10px) scale(.1);
  }
  30.001% {
    transform: translateY(25px) scale(1); 
  }
  70% {
    transform: translateY(25px); 
  }
  100% { 
    transform: translateY(-10px) scale(.1);  
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}


/* Distances */
@media (max-width: 640px) {
  .mobile_border {
    @apply border-b border-inherit last:border-none;
  }
  /* Tourist Guide */
  .tourist-guide .swiper-pagination {
    display: block;
    position: relative;
    z-index: 10;
    height: 100px;
  }

  .tourist-guide .swiper-pagination-bullet {
    width: 30px !important;
    height: 3px !important;
    border-radius: 0 !important;
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .tourist-guide .swiper-pagination-bullet-active {
    background: #000 !important;
  }
  
  .tourist-guide .swiper-slide img {
    height: 90%;
  }
}

@media (min-width: 640px) {
  .tourist-guide .swiper-pagination {
    display: none;
  }
}






.head_swiper .swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  border-radius: 0 !important;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}

.head_swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #000 !important;
}

/* SwiperJs styles */

.swiper-nav-btns {
  @apply absolute z-10 top-0 flex justify-between w-screen ;
}

.swiper-prev,
.swiper-next {
  @apply absolute  z-10 w-10 h-10 text-cyan-100 hover:text-yellow;
}


/* PhotoGallery */

 
.photo_gallery .swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
}

.photo_gallery .swiper-pagination {
  color: #fff;
}

.image_gallery {
  height: 800px;
}


.slick-slide > div {
  margin: 0 20px;
}

.slick-dots li.slick-active div {
  /* color:orange !important; */
  @apply bg-white/40 ;
}


.slick-prev:before, .slick-next:before {
  font-size: 50px !important;
}

.slick-prev, .slick-next {
    width: 50px !important;
    height: 50px !important;
}

.slick-next {
  right: -55px !important;
}

.slick-prev {
  left: -55px !important;
}

.slick-dots {
  display: none !important;
}


@media (max-width: 640px) {
  .image_gallery {
    height: 300px;
  }
  
  
  .slick-slide > div {
    margin: 0 20px;
  }
  
  .slick-dots li.slick-active div {
    /* color:orange !important; */
    @apply bg-white/40 ;
  }
  
  
  .slick-prev:before, .slick-next:before {
    font-size: 25px !important;
  }
  
  .slick-prev, .slick-next {
      width: 25px !important;
      height: 25px !important;
  }
  
  .slick-next {
    right: -20px !important;
  }
  
  .slick-prev {
    left: -20px !important;
  }
  .slick-slide > div {
    margin: 0 10px;
  }
}

@media (max-width: 1024px) and (min-width: 640px) {
  .image_gallery {
    height: 500px;

  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .image_gallery {
    height: 600px;
  }
}