@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SwiperJs styles */

.swiper-nav-btns {
  @apply absolute z-10 top-0 flex justify-between w-screen ;
}

.swiper-prev,
.swiper-next {
  @apply absolute  z-10 w-10 h-10 text-cyan-100 hover:text-brown;
}



.btn {
  @apply flex items-center p-2 bg-brown rounded-md font-poppins text-white tracking-widest	text-amber-100 hover:bg-darkbrown;
}

/* Translate Nav */

.transleteNav {
  @apply -translate-y-full transition-transform;
}

.transleteNavUp {
  @apply  transform-none transition-transform;
}