/* PhotoGallery */


.photo_gallery .swiper-pagination-bullet {
    width: 30px !important;
    height: 3px !important;
}

.photo_gallery .swiper-pagination {
    color: #e10404;
}
.Photo .slick-slide>div {
    margin: 0 20px;
}

 .Photo .slick-dots li.slick-active div {
    /* color:orange !important; */
    @apply bg-white/40;
}


.Photo .slick-prev:before,
.Photo .slick-next:before {
    font-size: 50px !important;
}

.Photo .slick-prev,
.Photo .slick-next {
    width: 50px !important;
    height: 50px !important;
}

.Photo .slick-next {
    right: -10% !important;
    padding: 20rem 5rem !important;
}

.Photo .slick-prev {
    left: -10% !important;
    padding: 20rem 5rem 20rem 0.8rem !important;
}

.Photo .slick-dots {
    display: none !important;
}


.image_gallery {
    height: 800px;
}

@media (max-width: 640px) {
    .image_gallery {
        height: 300px;
    }


   .Photo .slick-slide>div {
        margin: 0 20px;
    }

  .Photo  .slick-dots li.slick-active div {
        /* color:orange !important; */
        @apply bg-white/40;
    }


   .Photo .slick-prev:before,
   .Photo .slick-next:before {
        font-size: 25px !important;
    }

   .Photo .slick-prev,
   .Photo .slick-next {
        width: 25px !important;
        height: 25px !important;
    }

   .Photo .slick-next {
        right: -20px !important;
    }

   .Photo .slick-prev {
        left: -20px !important;
    }

   .Photo .slick-slide>div {
        margin: 0 10px;
    }
}

@media (max-width: 1024px) and (min-width: 640px) {
    .image_gallery {
        height: 500px;

    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .image_gallery {
        height: 600px;
    }
}