/* Distances */
@media (max-width: 640px) {
    .mobile_border {
      @apply border-b border-inherit last:border-none;
    }
}

/* Translate Nav */
.transitionMap {
  transition: background 0.3s ease-in;
}

.transitionMap {
  animation: translateMap 0.3s ease-in;
}

@keyframes translateMap {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}